*{
box-sizing:border-box;
}

body{
margin:0;
font-family:Arial;
background:radial-gradient(circle at top,#1e3a8a,#0f172a);
color:white;
}

.quiz-app{
width:95%;
max-width:1200px;
margin:20px auto;
}

.top-area{
text-align:center;
padding:20px;
background:rgba(255,255,255,0.08);
border-radius:20px;
}

.top-area h1{
color:#facc15;
margin-bottom:5px;
}

.game-panel{
display:grid;
grid-template-columns:2fr 1fr;
gap:20px;
margin-top:20px;
}

.left-panel,.right-panel{
background:rgba(255,255,255,0.08);
padding:20px;
border-radius:20px;
}

.question-top{
display:flex;
justify-content:space-between;
color:#facc15;
font-weight:bold;
}

#questionText{
background:linear-gradient(135deg,#2563eb,#1d4ed8);
padding:20px;
border-radius:15px;
text-align:center;
margin-top:15px;
}

.answers{
display:grid;
grid-template-columns:1fr 1fr;
gap:12px;
margin-top:20px;
}

.answer-btn{
padding:15px;
border:none;
border-radius:12px;
background:linear-gradient(135deg,#2563eb,#1e40af);
color:white;
font-weight:bold;
cursor:pointer;
transition:.2s;
}

.answer-btn:hover{
transform:scale(1.05);
}

.correct{
background:#22c55e!important;
}

.wrong{
background:#ef4444!important;
}

.bottom-buttons{
margin-top:15px;
display:flex;
gap:10px;
}

button{
padding:10px 15px;
border:none;
border-radius:10px;
background:#facc15;
font-weight:bold;
cursor:pointer;
}

.message-box{
margin-top:10px;
padding:10px;
background:rgba(255,255,255,0.1);
border-radius:10px;
}

.money-list{
list-style:none;
padding:0;
display:flex;
flex-direction:column-reverse;
gap:8px;
}

.money-list li{
background:rgba(255,255,255,0.1);
padding:10px;
text-align:center;
border-radius:10px;
}

.money-list li.active{
background:gold;
color:black;
transform:scale(1.05);
}

.money-list li.passed{
background:#22c55e;
}

.joker-buttons{
display:flex;
gap:10px;
margin-top:10px;
}

@media(max-width:900px){

.game-panel{
grid-template-columns:1fr;
}

.answers{
grid-template-columns:1fr;
}

}
